@charset "utf-8";

h1{
	color:crimson;
	border: solid; 
	border-width: 30px;
	text-align:center;
	
}
p1{
	color:yellow;
	background-color: brown;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	margin-left: 20em;
	
	}
p2{
	color:blueviolet;
	background-color:mediumaquamarine;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 18px;
	margin: 5em;
				
}
p3{
	background-color: aqua;
	color: firebrick;
	text-align: right;
	margin: 2em;
}
p4{
	color: purple;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 1em;
	margin: 8em;
	border: outset;
}
.narrador{
	background-color:darksalmon;
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	font-size: 20px;
	text-align: center;
}